* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
}


.width-class-80 {
    width: 70%;
    margin: auto;
}

main .bg-jumbo {
    background-color: #f9f9f9;
    color: black;
}




@media (max-width: 768px) {
    .widht-class-80 {
        width: 100%;
        margin: auto;
    }
}
